h1,p{ 
    border: 2px solid orange;}
h1{
    border: 2px solid orange;
text-align:center 
    width 50%
    margin auto;
}
p{
   text-align: justify;
   padding: 50px;

     
}
img{
  margin-right: 50px;


}